<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422932798058-44l9dstrn8ekmsjd0c2uq6nmiihr6a55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422932798058-44l9dstrn8ekmsjd0c2uq6nmiihr6a55</string>
	<key>API_KEY</key>
	<string>AIzaSyD51cRMBBpJcRg8kVCY4lZ0ifNeVL_kf4g</string>
	<key>GCM_SENDER_ID</key>
	<string>422932798058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aispeaker.mob</string>
	<key>PROJECT_ID</key>
	<string>aispushnotification-f9ae3</string>
	<key>STORAGE_BUCKET</key>
	<string>aispushnotification-f9ae3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422932798058:ios:7a11c9da9c060a67b60813</string>
	<key>DATABASE_URL</key>
	<string>https://aispushnotification-f9ae3.firebaseio.com</string>
</dict>
</plist>
